*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

  body {
	background-image: url(https://dbdzm869oupei.cloudfront.net/img/vinylrugs/preview/46933.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

/*  Navbar   */

  nav {
  	height: 80px;
  	background-color: rgb(58, 114, 192);
  	width: 100%;
  	display: flex;
  	justify-content: space-between;
  	padding-right: px;
  	z-index: 1000;
  }

nav img {
	margin-left: 10px;
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

nav .navigation {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav .navigation li a {
	text-decoration: none;
	margin-left: 30px;
	font-size: 35px;
	color: white;
	
}

nav .navigation li {
	list-style-type: none;
	margin-right: 20px;
	
}

/*  Janela Lead  */

.bg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg img{
	height: 100vh;
	width: 100%;
}

.bg .logo {
	position: absolute;
	width: 400px;
	height: 150px;
	margin-left: auto;
  	margin-right: auto;
}

.bg .back:hover {

 }

 /*  Botão   */

.botao {
	
	display: flex;
	height: 200px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.botao div {
	border-radius: 40px;
	display: flex;
	height: 80px;
	width: 300px;
	background-color: #0000008c;
	margin: 0 30px;
	align-items: center;
	font-size: 32px;
	user-select: none;
    cursor: pointer;
	color:#d0d672d9;
	padding: 37px;
	filter: blur(0.7px);
}

.botao div:hover {
	background-color: #0b0b23;
	filter: blur(0px);
}


/* Slideshow  */

.imge img {
	margin-top: 20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 20px;
 }

 .imge img:hover {
 	width: 900px;
 }

/*  Texto   */
 .texto {
 	color: white;
 	margin-bottom: 30px;
 
 }

 .texto h1 {
 	font-size: 80px;

	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  margin-bottom: 20px;
 }

 .texto p {
 	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
 }


 /*  Apoiadores   */

 .patro {
 	display: flex;
 	height: 300px;
 	justify-content: space-between;
 }

 .patro div {
 	height: 100px;
 	background-color:rgba(44, 42, 58, 0.521) ;
 	width: 300px;
 }

 .patro div:hover{
 background-color:rgba(44, 42, 58, 0.726) ;
 	height: 200px;
 }



 /* Footer */

 footer {
 	background-color: black;
 	height: 120px;
	display: flex;
	align-items: center;
 }

 .rodape {
	 margin-left: 30px;
	 display: flex;
	 flex-direction: column;
 }

 .container {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 

 h3 {
	 margin-top: 10px;
	 color: aliceblue;
 }

 p {
	color: aliceblue;
}

 li {
	 margin-top: 10px;
	 display: flex;
	 flex-direction: column;
 }

  a {
	  color: aliceblue;
	  margin-bottom: 2px;
  }


 .aluradiv {
	 display: flex;
	 align-items: center;
	 margin-left: 350px;
 }

 .leadlogo {
	width: 110px;
	margin-right: 20px;
	margin-top: 12px;
}

 .alura {
	 width: 80px;
	 
 }

 .luiza {
	 width: 130px;
	 margin-left: 10px;
 }

 /*FIM DO RODAPE*/